/* カレンダー用 */
table {
    width: 100%;
}
table tr {
    height: 60px;
}
@media(max-width:480px) {
table tr {
    height: 40px;
}
}
table th {
    background: #EEEEEE;
}
table th,
table td {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px;
}

.hidden {
    display: none;
}