/* カレンダー用 */
table {
    width: 100%;
}
table tr {
    height: 60px;
}
@media(max-width:480px) {
table tr {
    height: 40px;
}
}
table th {
    background: #EEEEEE;
}
table th,
table td {
    border: 1px solid #CCCCCC;
    text-align: center;
    padding: 5px;
}

.month {
    /* 前月と次月を左右に分ける */
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
}
/* ロゴ */
.logo {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.logo:hover {
    text-decoration: none;
    color: black;
}
/* ヘッダー */
header {
   
}
