@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html,body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
}

/* カレンダー用 */
table {
    width: 100%;
}
table tr {
    height: 60px;
}
.link{
    background: rgba(26,115,232,0.9);
    cursor: pointer;
    transition: 0.1s;
}
.link:hover{
    background: rgba(26,115,232,1);
}
.days__link{
    color: #FFF;
}
.days__link:hover{
    color: #FFF;
}
@media(max-width:480px) {
table tr {
    height: 40px;
}
}
table th {
    background: #EEE;
}
table th,
table td {
    border: 1px solid #CCC;
    text-align: center;
    padding: 5px;
}

.month {
    /* 前月と次月を左右に分ける */
    display: flex;
    justify-content: space-between;
}
.hidden {
    display: none;
}
/* ロゴ */
.logo {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.logo:hover {
    text-decoration: none;
    color: black;
}

.duplication {
    background-color: yellow;
}
/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding: 10px !important;
    margin-bottom: 15px;
}
.nav{
    font-size: 14px;
}
.nav > a:first-child{
    margin-right: 10px;
}

/* 新規登録 */
.explain-box {
    position: relative;
    margin: 39px 0 2em;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.explain-box .explain-tit {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}
.explain-box p {
    margin: 0; 
    padding: 0;
}

body {
    /* background-color: #DE5021; オレンジ*/
    /* background-color: #ffc0cb; */
    background-color: white;
}
